* {
  box-sizing: border-box;
  /* background: linear-gradient(-90deg, rgb(240, 240, 245), rgb(250, 250, 250)); */
  font-family: "PT Sans", sans-serif;
}

#topnav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.mytopnav {
  width: 90vw;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

#mybio {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.mybiobox {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.mybiobox h1 {
  padding: 10px;
}

.mybiobox h6 {
  padding: 10px;
}

#languages {
  width: 90vw;
  height: 100vh;
  padding: 20px;
}

.langbox {
  display: flex;
  justify-content: space-evenly;
}

.javascriptlang {
  background-color: grey;
  width: 75px;
  height: 75px;
}

.reactlang {
  background-color: grey;
  width: 75px;
  height: 75px;
}

.nodelang {
  background-color: grey;
  width: 75px;
  height: 75px;
}

#aboutme {
  padding: 20px;
  width: 90vw;
  height: 100vh;
}

#myportfolio {
  padding: 20px;
  width: 90vw;
  height: 100vh;
}

#contactme {
  padding: 20px;
  width: 90vw;
  height: 100vh;
}

@media only screen and (min-width: 400px) {
  .langbox {
    display: flex;
    justify-content: space-evenly;
  }

  .javascriptlang {
    background-color: grey;
    width: 100px;
    height: 150px;
  }

  .reactlang {
    background-color: grey;
    width: 100px;
    height: 150px;
  }

  .nodelang {
    background-color: grey;
    width: 100px;
    height: 150px;
  }
}

@media only screen and (min-width: 600px) {
  .langbox {
    display: flex;
    justify-content: space-evenly;
  }

  .javascriptlang {
    background-color: grey;
    width: 150px;
    height: 250px;
  }

  .reactlang {
    background-color: grey;
    width: 150px;
    height: 250px;
  }

  .nodelang {
    background-color: grey;
    width: 150px;
    height: 250px;
  }
}
