* {
  font-family: "Fjalla One";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.navigation {
  height: 80 px;
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  background-color: white;
}

.navigation a {
  text-decoration: none;
  font-size: 20px;
}

.navigation a:hover {
  color: #c0c0c0;
}

.pageOne {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

#mypic {
  width: 150px;
  height: 160px;
  border-radius: 50%;
  border: black solid 1px;
}

.mainPageContainer {
  width: 250px;
  height: 600px;
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgPad {
  padding: 5px;
}

#pageTwo {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.aboutMe {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutMe h1 {
  padding-bottom: 50px;
}

#pageThree {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.portfolio {
  width: 250px;
  height: 600px;
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.slideshow img {
  width: 120px;
  height: 150px;
}

.app1 img {
  width: 190px;
  height: 150px;
}

.padder {
  padding-top: 7px;
}

.padder2 {
  padding-top: 30px;
}

.fontresizer {
  font-size: 10px;
}

.imagesizer img {
  height: 100px;
  width: 100px;
}
.buttonleft {
  color: #fff !important;
  background-color: #000 !important;
}

.buttonright {
  color: #fff !important;
  background-color: #000 !important;
}

.projectPic img {
  width: 250px;
  height: 170x;
  border: 1px solid black;
}

#pageFour {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.p4spacer {
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .navigation a {
    text-decoration: none;
    font-size: 23px;
  }

  .projectPic img {
    width: 280px;
    height: 200x;
  }

  #mypic {
    width: 200px;
    height: 210px;
  }
}

@media screen and (min-width: 800px) {
  .navigation a {
    text-decoration: none;
    font-size: 26px;
  }

  .projectPic img {
    width: 320px;
    height: 240x;
  }

  #mypic {
    width: 250px;
    height: 260px;
  }
}
